@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body .head {
    background-color: greenyellow;
    padding: 15pt ;
}

body h1 {
    position: inherit;
    text-align: center;
    font-family: 'Slabo 27px', serif;
}

.navbar {
    font-family: 'Droid Sans', sans-serif;
}

.input-data {
    border: 2pt outset yellowgreen;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 5pt;
}

.input-data h2 {
    position: relative;
    font-family: 'Droid Sans', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.input-data .description {
    position: relative;
    text-align: center;
}

.input-data label {
    font-family: 'Droid Sans', sans-serif;
}

.input-data .chooser-title {
    position: relative;
    text-align: center;
    margin-top: 10pt;
}

.input-data ul{
    padding-bottom: 20pt;
}

.input-data  li {
    position: relative;
    float: left;
    display: table-cell;
    width: 200pt;
    padding-bottom: 10pt;
    padding-left: 10pt;
    padding-right: 20pt;

}


.input-data .double-chooser #speed {
    margin-left: 20pt;
}

.input-data .btn {
    position: relative;
    margin: 0 auto;
    display: block;
}

.input-data .chooser-title {
    padding-left: 20pt;
}

body footer {
    background-color: greenyellow;
    padding: 5pt;
    margin-top: 10pt;
    text-align: center;
    font-weight: bold;
    font-family: 'Slabo 27px', serif;

}
